@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  ::selection {
    background: #e6d9d1;
  }

  body {
    @apply bg-primary font-primary text-foreground leading-loose;
  }
}

.active {
  color: #b8967e;
  border-bottom: #b8967e;
  border-bottom-width: 1px;
}